@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100;1,500&display=swap');

/*--------Reglas generales---------*/
:root {
    --verde-claro: #0CBD79;
    --rojo-titulo: #FF210B;
    --blanco-fondo: #f5f0ed;
    --hover-btn:#cebb0d;
    --negro:#000000;
    --gris: #7a7a78;
    /*Prueba paleta*/
    --grisOscuro:#0e181d;
    --gris_Luminoso: #a8bec9;
    --gris18xciento:#484848;
    --amarilloBtn:#f2b237;
    --morado:#504487;
  }


body {
    margin: 0;
    padding: 0;
    background-color:var(--morado);
    background-position: bottom;
    width: 800px;
}

/*--------Reglas Específicas----------*/

/*Contenedor principal app*/

.base-btn-graph{
    width: 80%;
    height: 1200px;
    background-color: var(--gris18xciento);
    border: transparent;
    margin: 50px;
    padding: 50px;
    padding-top: 10px;
    border-radius: 15px 80px 15px 15px;
    -webkit-app-region: drag;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/*Grafico*/
canvas {
    background-color: rgba(47, 152, 208, 0.0);
    color: #cda744;
    width: 400px;
}

.ref-grf{
    background-color: rgba(47, 152, 208, 0.0);
    padding: 1px;
    font-size: 35px;
    width: 100%;
    height: 400px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    border-radius: 7px;
    border: none;
}

/*Elementos componentes app*/
.contenedor-titulo{
    width: 100%;
    height: 100px;
    padding: 1rem;
}

#titulo{
    font-size: 60px;
    margin-top: -30px;
    margin-bottom: -50px;
    padding: 10px 0 2px 0;
}

#titulo h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: var(--blanco-fondo);
    margin-right: 50px;
    margin-bottom: 0;
}

#linea-titulo {
    color: #0CBD79;
    width: 100%;
    margin-top: -60px;
    margin-bottom: 60px;
}

#titulo {
    display: flex;
    flex-direction: row;   
}

#logo {
    position: relative;
    height: 150px;
    width: 150px;
    margin-top: 57px;
    margin-left: 205px;
    margin-bottom: 5px;
    text-align: end;
    bottom: 11px;
}

#subtitulo {
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    text-align: start;
    color: var(--verde-oscuro);
    padding-right: 5rem;
    text-align: right;
    margin-top: -7rem;
    margin-right: 1.8rem;
}

#describ-dir{
    margin-bottom: -1rem;
    margin-left: 2rem;
    margin-top: 2.5rem;
    font-family: 'Montserrat','sans-serif';
    font-weight: 300;
}
/*Flexbox of the drag and drop and slider*/
.sec-carga{
    display: flex;
    flex-direction: row;
}
/* Contenedor drag and drop and button */
.input-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -1rem;
}

.drag-area{
    border: 1px dashed var(--verde-oscuro);
    height: 150px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -5rem;
    font-family: 'Monsterrat','sans-serif';
}

.drag-area.active{
    border: 1px solid var(--amarilloBtn);
    background-color: none;
    transition: all 0.3s ease 0s;
}

.cuadro-anim{
    background-color: var(--amarilloBtn);
    width: 0;
    height: 0;
    transition: all 0.3s ease 0s;
}

.cuadro-anim:hover{
    background-color: var(--amarilloBtn);
    width: 350px;
    height: 150px;
    transition: all 0.3s ease 0s;
}

header{
    font-family: 'Montserrat','sans-serif';
}

.drag-area .icon {
    size: 1rem;
}

.drag-area header{
    font-size: 20px;
    font-weight: 500;
    color: var(--verde-oscuro);
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: none;
    color: var(--amarilloBtn);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    box-shadow: #000000;
}

 /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 120px;
    margin-left: 1rem;
    margin-top: -50px;
    border-radius: 10px;
  }  
 #text-option {
    position: absolute;
    font-size: 40px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    color: var(--gris_Luminoso);
    margin-top: 0px;
    padding-right: 2rem;
    padding-left: 1rem;
    margin-left: 0rem;
 }

 #ch1 {
     position: absolute;
     margin-top: 100px;
 }
/*Inputs*/
input{
    border-radius: 40px;
    background: var(--blanco-fondo);
    padding: 20px;   
    height: 20px;
    font-size: 2rem;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    margin: 1rem;
    width: 90%;
}

input[type=checkbox]{
    height: 0;
	width: 0;
	visibility: hidden;
}

.dragon {
    cursor: pointer;
    text-indent: -9999px;
    width: 30px;
    height: 60px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: absolute;
    margin-top: 60px;
    margin-left: 15px;
}

.dragon:after {
	content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: var(--amarilloBtn);
    border-radius: 50%;
    transition: 0.1s;
}

#ch1:checked + .dragon {
	background: var(--gris_Luminoso);
}

#ch1:checked + .dragon:after {
    top: 30px;	
	transform: translateY(20px);
}

.dragon:active {
	transform: translateY(0px);
}
.dragon:active:after {
	transform: translateY(30px);
}


/*Seccion arrastre y boton-controles*/
#btn-procesar{
    background-color: var(--rojo-titulo);
    color: var(--blanco-fondo);
    font-size: 2.5rem;
    width: 60px;
    height: 60px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    margin: 1rem;
    text-align: center;
    line-height: 65px;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
}
#btn-procesar:hover{
    background-color: #2EE59D;
    box-shadow: 0px 0px 20px var(--amarilloBtn);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn {
    padding: 0.5rem;
}

#btn-procesar:hover{
    background-color: var(--hover-btn);
}

/*Footer*/
.footer{
    text-align: center;
    margin-top: -5rem;
    overflow: hidden;
}

#creditos{
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-weight: 100;
}

  